<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">

<head>
    <title>Pesquisa de Títulos</title>
</head>

<body>
    <main>
        <div th:include="~{fragments/_alert-success :: alert-success}"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="clearfix">
                    <h1 class="panel-title siscont-titulo-panel">Pesquisa de títulos</h1>
                    <a class="btn btn-link siscont-link-panel" th:href="@{/titulos/novo}">Novo título</a>
                </div>
            </div>

            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center col-md-1">#</th>
                            <th>Decrição</th>
                            <th class="text-center col-md-2">Data de vencimento</th>
                            <th class="text-right col-md-2">Valor</th>
                            <th class="text-center col-md-2">Status</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="titulo : ${titulos}">
                            <td class="text-center" th:text="${titulo.id}"></td>
                            <td th:text="${titulo.descricao}"></td>
                            <td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
                            <td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
                            <td class="text-center">
                                <span class="label" th:text="${titulo.status.descricao}"
                                    th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}"></span>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-link btn-xs" th:href="@{/titulos/{id}/editar (id=${titulo.id})}"
                                    title="Editar" rel="tooltip" data-placement="top">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a class="btn btn-link btn-xs" data-toggle="modal"
                                    data-target="#confirmacaoExclusaoModal"
                                    th:attr="data-codigo=${titulo.id}, data-descricao=${titulo.descricao}"
                                    title="Excluir" rel="tooltip" data-placement="top">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:include="~{fragments/_dialogoConfirmarExclusao :: dialogo-confirmar-exclusao}"></div>
        </div>
    </main>
</body>

</html>