<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">

<head>
    <title>Pesquisa de Títulos</title>
</head>

<body>
    <main>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Pesquisa de títulos</h1>
            </div>

            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center col-md-1">#</th>
                            <th>Decrição</th>
                            <th class="text-center col-md-2">Data de vencimento</th>
                            <th class="text-right col-md-2">Valor</th>
                            <th class="text-center col-md-2">Status</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6">Nenhum título foi encontrado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>