.panel-default {
    margin-left: 10px;
    margin-right: 10px;
}

.alert {
    margin-left: 10px;
    margin-right: 10px;
}

.siscont-titulo-panel {
    float: left;
    padding: 0px;
}

.siscont-link-panel {
    float: right;
    padding-top: 2px;
}