<!DOCTYPE html>
<html th:lang="${#locale}" th:fragment="layout (title, main)">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISCONT | <th:block th:include="${title}"> Dashboard </th:block>
    </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
    <header th:replace="~{fragments/_navbar :: nav}"></header>

    <main th:replace=${main}>
    </main>
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>